@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 24px;
    color: #eeeeee;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    font-weight: 700;
    padding: 10px 2%;
    text-align: center;
}

th.id {
    width: 100px;
}

th.task {
    width: 200px;
}

td {
    padding: 10px 2%;
    text-align: left;
}

td.id {
    text-align: center;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    border-top: 1px solid #cccccc;
    padding-top: 6px;
    padding-right: 10px;
    font-size: 14px;
    text-align: right;
}